<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>栏目管理</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="../../../../后台管理/css/rightmain.css">
  </head>
  <body>
      <div class="iframecontent">
        <div class="pos">
         <i class="icoh"></i>
          <span>栏目列表</span>
        </div>
        <div class="operate">
          <div class="pull-left">
            <input type="button" name="" value="添加栏目" class="btn  btn-success" onclick="document.getElementById('box').style.display='block'">
          </div>
           <div class="form-group box" id="box">
                  <label for="exampleInputEmail1">添加栏目</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入栏目名称">
                  <input type="button" name="" value="关闭" onclick="document.getElementById('box').style.display='none'" class="btn btn-info">
                  <input type="button" name="" value="确认添加" class="btn  btn-success">
                </div>
               <div class="form-group box" id="box2">
                  <label for="exampleInputEmail1">修改栏目</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入栏目名称">
                  <input type="button" name="" value="关闭" onclick="document.getElementById('box2').style.display='none'" class="btn btn-info">
                  <input type="button" name="" value="确认修改" class="btn  btn-danger">
                </div> 
          <!-- operate标题结束 -->
          <div class="list">
            <div class="tablewrap">
              <table class="table" width="100%" id="datalist">
                <thead>
                  <tr>
                    <th><input type="checkbox" name="" id="all"></th>
                    <th>名称</th>
                    <th>排序</th>
                    <th width="200px">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class=""><input type="checkbox" name=""></td>
                    <td><a href="javascript:;">公司介绍</a></td>
                    <td><span>1</span></td>
                    <td>
                      <a href="javascript:;" onclick="document.getElementById('box').style.display='block'">添加子栏目</a>
                      <a href="javascript:;" onclick="document.getElementById('box2').style.display='block'">修改</a>
                      <a href="javascript:;">删除</a>
                    </td>
                  </tr>
                  <tr>
                    <td class=""><input type="checkbox" name=""></td>
                    <td><a href="javascript:;">公司介绍</a></td>
                    <td><span>2</span></td>
                    <td>
                      <a href="javascript:;" onclick="document.getElementById('box').style.display='block'">添加子栏目</a>
                      <a href="javascript:;" onclick="document.getElementById('box2').style.display='block'">修改</a>
                      <a href="javascript:;">删除</a>
                    </td>
                  </tr>
                  <tr>
                    <td class=""><input type="checkbox" name=""></td>
                    <td><a href="javascript:;">公司介绍</a></td>
                    <td><span>3</span></td>
                    <td>
                      <a href="javascript:;" onclick="document.getElementById('box').style.display='block'">添加子栏目</a>
                      <a href="javascript:;" onclick="document.getElementById('box2').style.display='block'">修改</a>
                      <a href="javascript:;">删除</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="page"></div>
          </div>
          
        </div>
      </div>


      <script src="../../../../后台管理/public/js/jquery-3.1.1.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="./bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript">
      //alert($)
      //复选框全部选中
      $(function(){
        $("#all").click(function(){
          if($(this).prop('checked')){
            $('#datalist :checkbox').prop('checked',true)
          }else{
            $('#datalist :checkbox').prop('checked',false)
          }
        })
      })
      </script>
  </body>
</html>